#main {
  display: flex;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

#addNewTaskBox {
  display: inline-flex;
  padding-right: 10px;

}

#addNewTaskBtn {
  height: 50%;
}

.column {
  border: solid .25px;
  flex-direction: column;
}

.columnName {
  text-align: center;
}

.queueList {
  width: 100%;
}

.progressList {
  width: 100%;
}

.doneList {
  width: 100%;
}

.card {
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
}

.cardBody {
  background-color: red;
  height: 100%;
}

.cardFooter {
  background-color: blue;
}