#main {
  display: flex;
}

#header {
  background-color: purple;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#addNewTaskBox {
  display: inline-flex;

}

#addNewTaskBtn {
  background-color: orange;
  height: 50%;

}

.column {
  border: solid .25px;
  flex-direction: column;
}
.columnName {
  text-align: center;
}

.queueList {
  background-color: red;
  width: 100%;
}

.progressList {
  background-color: yellow;
  width: 100%;
}

.doneList {
  background-color: green;
  width: 100%;
}
